<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1>Stop <strong>wasting</strong> money on baby clothes <strong>!</h1>
    <p> Your baby's wardrobre should grow as quickly as she/he is.</p>
    <a class="btn btn-flat" href="#">Rent now</a>
  </div>
</div>

<br>
<br>
<h1>List of Clothes</h1>
<br>
<br>
  <div class="container">
    <div class="cards">
      <% @garments.each do |garment| %>
      <ul>
      <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1563722205706-e8513b7554bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" width="200" height="100" />
      <div class="card-trip-infos">
      <h2><%= link_to garment.title, garment_path(garment) %></h2>
      <p><%= garment.location %></p>
      <li class="card-trip-pricing"><%= garment.daily_price %>£/week</li>
        </ul>
        <% if policy(garment).edit? %>
          <%= link_to "delete Garment", garment_path(garment), method: :delete %>
       <% end %>
       <% if policy(garment).destroy? %>
         <%= link_to "Edit Garment", edit_garment_path(garment) %>
      <% end %>
     <%= link_to "Book Garment", new_garment_booking_path(garment), class: "btn btn-primary" %>
     <% end %>
    </div>
</div>