<h1>Clothing</h1>
<%= simple_form_for(@garment) do |f| %>
<%= f.input :title %>
<%= f.input :location %>
<%= f.input :description %>
<%= f.input :daily_price %>
<%= f.input :photo, as: :file %>
<%= f.submit %>
<% end %>
